@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text for light theme */
  --background-start-rgb: 173, 216, 230; /* Light blue start */
  --background-middle-rgb: 135, 206, 250; /* Sky blue middle */
  --background-end-rgb: 176, 224, 230; /* Powder blue end */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text for dark theme */
    --background-start-rgb: 0, 0, 139; /* Dark blue start for dark theme */
    --background-middle-rgb: 25, 25, 112; /* Midnight blue middle */
    --background-end-rgb: 70, 130, 180; /* Steel blue end */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(256, 256, 256),
    rgb(256, 256, 256),
    rgb(256, 256, 256)
  );
  /* background-image: url('../../public/images/background.jpg');
  background-size: cover;
  background-position: center; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
