.idea
.git
.venv
airflow_dags
assets
azure_data_etl
data
database
frontend
models
notebooks
test_data

__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store

.favorites.json
.gitignore
.gitmodule
.env
.env.tmp
LICENSE
README.md

test.ipynb
test.py